html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
}

@font-face {
	font-family: "Acumin";
	src: url("/fonts/ Variable Concept.woff2") format("woff2 supports variations"),
		url("/fonts/Acumin Variable Concept.woff2") format("woff2-variations");
	font-weight: 100 1000;
}

:root {
	--light-black: #282929;
	--white: #fff;
	--red: #EC6762;
	--hover-red: #e04e49;
	--font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

body {
	background-color: var(--light-black);
	width: 100vw;
	font-family: "Acumin", var(--font-fallback);
	font-weight: 600;
	color: var(--white);
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* justify-content: center; */
	align-items: center;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}


/*HEADER*/
header {
	background-color: var(--light-black);
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99;
	top: 0;
}

.nav-bar {
	width: 90vw;
	max-width: 90vw;
	height: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar>a {
	color: var(--white);
	text-decoration: none;
}

.nav-bar>ul {
	width: 90%;
	display: flex;
	font-weight: 300;
	justify-content: flex-end;
	font-size: clamp(1rem, 0.919rem + 0.323vw, 1.25rem);
	gap: 10%;
	min-width: 280px;
}

.nav-bar>ul>a {
	white-space: nowrap;
	color: var(--white);
	text-decoration: none;
	padding:10px 10px 5px 10px;
	transition: all .25s;
	&:hover{
		text-decoration: underline var(--red);
	}

}
.nav-bar>ul>a:nth-last-child(1) {
	border: solid 1px var(--red);
	padding:10px 15px 5px 15px;
	border-radius: 50px;
	&:hover{
		background-color: var(--red);
		text-decoration: none;
	}
}
.logo-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container>a {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container>a>img {
	height: clamp(2rem, 1.032rem + 3.871vw, 5rem);
	max-height: 50%;
}

/*MAIN*/
main {
	color: var(--white);
	margin-top: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pretitle {
	max-width: 1400px;
	min-width: 300px;
	color: var(--red);
	font-weight: 300;
	font-stretch: 25%;
	font-style: italic;
	font-size: clamp(2rem, 1.333rem + 2.667vw, 4rem);
	text-align: end;
	width: 80%;
}

.main-hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1400px;
	min-width: 300px;
	gap: 4%;
}

.main-hero-section>h1 {
	font-weight: 800;
	font-stretch: 65%;
	font-size: clamp(2rem, -0.903rem + 11.613vw, 11rem);
	width: min-content;
	line-height: 80%;
}

.main-hero-section>img {
	width: 28%;
	max-width: 40vw;
	margin-bottom: 2%;
}

.triangles-container>.triangle {
	transform: rotate(180deg);
	-webkit-text-stroke: 1px var(--red);
	color: transparent;
	font-size: clamp(1rem, 0.032rem + 3.871vw, 4rem);
	line-height: 90%;
}

.triangles-container>.triangle:nth-child(2) {
	color: var(--red);
}

.video-section {
	width: 80vw;
	margin-top: 8%;
	display: flex;
	justify-content: center;

	video {
		width: 100%;
		max-width: 1440px;
		border-radius: 10px;
		border: solid 1px var(--red);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
	}
}

.intro-container {
	width: 80%;
	margin: 120px 0;
	margin-top: 40px;
	font-size: 1rem;

	p {
		text-align: justify;
		font-weight: 200;
	}
}



@media only screen and (max-width: 450px) {
	.nav-bar {
		flex-direction: column;
	}

	.nav-bar>ul {
		justify-content: center;
		width: 80vw;
		margin-right: 4vw;
	}

	main {
		margin-top: 140px;
	}

	.pretitle {
		margin-bottom: -10px;
	}

	.video-section {
		/* margin-top: 40px; */
	}
}